################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Back/ManagementTaskApi/.vs/ManagementTaskApi.slnx
/Back/ManagementTaskApi/ManagementTaskApi/obj
/Back/ManagementTaskApi/ManagementTaskApplication/obj
/Back/ManagementTaskApi/ManagementTaskDomain/obj
/Back/ManagementTaskApi/ManagementTaskInfraestructure/obj
/Back/ManagementTaskApi/ManagementTaskApi/bin/Debug/net8.0
/Back/ManagementTaskApi/ManagementTaskApplication/bin/Debug/net8.0
/Back/ManagementTaskApi/ManagementTaskDomain/bin/Debug/net8.0
/Back/ManagementTaskApi/ManagementTaskInfraestructure/bin/Debug/net8.0
/Back/ManagementTaskApi/ManagementTask.Tests/bin/Debug/net8.0
/Back/ManagementTaskApi/ManagementTask.Tests/obj
